/* General
==================================================*/

html,
body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  line-height: 1.8;
  color: #999
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.no-padding [class^="col-"] {
  padding-left: 0;
  padding-right: 0;
}

.main-container {
  padding: 100px 0;
}

.center {
  text-align: center;
}

a {
  -webkit-transition: all .3s;
  transition: all .3s
}

.uppercase {
  text-transform: uppercase;
}

.h-30 {
  height: 30px
}

.h-10 {
  height: 10px
}

.color {
  color: #ffbf00;
  font-size: 11px;
}


/* typography
==================================================*/

h1 {
  color: #393939;
  font-size: 60px;
  text-transform: uppercase;
}

h3 {
  color: #393939;
}

h5 {
  color: #ffbf00;
}

/* contact page (inputs)
==================================================*/

.details-text i {
  margin-right: 10px;
}

.textarea-contact {
  height: 200px;
  width: 100%;
  border: solid 1px rgba(0, 0, 0, .1);
  position: relative;
}

.textarea-contact textarea {
  height: 100%;
  width: 100%;
  border: 0;
  padding: 20px;
  background-color: transparent;
  float: left;
  z-index: 2;
  font-size: 14px;
  color: #9a9a9a;
  resize: none;
}

.textarea-contact > span {
  position: absolute;
  top: 20px;
  left: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 12px;
  text-transform: uppercase;
  color: #cdcdcd;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  z-index: 1;
}

.input-contact {
  height: 40px;
  width: 100%;
  border: solid 1px rgba(0, 0, 0, .1);
  position: relative;
  margin-bottom: 30px;
}

.input-contact input {
  height: 100%;
  width: 100%;
  border: 0;
  padding: 0 20px;
  float: left;
  position: relative;
  background-color: transparent;
  z-index: 2;
  font-size: 14px;
  color: #9a9a9a;
}

input::placeholder {
  height: 100%;
  width: 100%;
  border: 0;
  /*padding: 0 20px;*/
  float: left;
  position: relative;
  background-color: transparent;
  z-index: 2;
  font-size: 14px;
  color: #cdcdcd;
}

input:focus::placeholder {
  opacity: 0; transition: opacity 0.3s ease;
}

.input-contact > span {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 12px;
  text-transform: uppercase;
  color: #cdcdcd;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  z-index: 1;
}

.input-contact > span.active,
.textarea-contact > span.active {
  color: #ffbf00;
  font-size: 10px;
  top: 0px;
  left: 5px;
  background-color: #fff;
  padding: 5px
}

input:focus,
textarea:focus {
  outline: none;
}

.contact-info {
  margin-top: 20px;
}

.contact-info i {
  height: 30px;
  width: 30px;
  display: inline-block;
  background: #ffbf00;
  text-align: center;
  line-height: 33px;
  margin-right: 10px;
  color: #fff;
  font-size: 21px;
}

.contact-info p {
  display: inline-block;
  margin-right: 20px;
}

.btn-box {
  background: #ffbf00;
  padding: 10px 50px;
  border-radius: 0;
  color: #fff;
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
}

.btn-box:hover,
.btn-box:focus {
  background: #F5B700;
  color: #fff;
}
